header{
    padding: 60px 0px 30px 50px;
    font-family: "source sans pro";
    font:bold;
    color: #FF7D2D;
}

p{
    padding: 0px 50px 30px 50px;
    font-size:x-large;
    font-family: "source sans pro";
}

h2{
    padding: 0px 50px 30px 50px;
    font-family: "source sans pro";
}

article{
    padding: 0px 50px 30px 50px;
}


nav {
   background-color: #FFD1D2; 
}

.responsive{
    width: 50%;
    padding: 20px 20px 0px 20px;
    float: left;
    margin: 0px;
}

.accordion {
    padding: 0px 50px 30px 50px;
}

#searchbar input{
	width: 354px;
	height: 32px;
	padding: 10px 10px 10px 10px;
	background: #FFFFFF;
	color: #C0C0C0;
	border-color: #FF914D;
	border-width: 2px;
	border-style: solid;
	border-radius: 16px 16px 16px 16px;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 12px;
	text-align: left;
}

aside {
    width: 100%;
    padding-left: 0px;
    padding-bottom: 50px;
    margin-left: 0px;
    float: center;
    font-style: italic;
    background-color:#FFD1D2;
}

@media only screen and (max-width: 7068px){
    .responsive{
      width: 50%; 
      margin: 6px 0; 
    }
}
  
@media only screen and (max-width: 320px){
    .responsive{
      width:100%;
    } 
}


#JoinUs {
	width: 327px;
	height: 49px;
	padding: 10px 10px 0px 10px;
	background: #FF914D;
	color: #FFFFFF;
	border-color: #23232300;
	border-width: 1px;
	border-style: solid;
	border-radius: 25px 25px 25px 25px;
	font-family: "Source Sans Pro";
	font-weight: bold;
	font-size: 16px;
	text-align: center;
    justify-content: center;
}


footer {
    background-color: #FFD1D2; 
    padding: 30px 50px 30px 50px;    
}


@media only screen and (max-width:767px) {
    .footer-container .footer-top .footer-nav{
        flex-direction: column;
    }
}

@media only screen and (max-width:991pz) {
    .footer-container .footer-top .footer-nav{
        width: 100%;
    }
}

.footer-container .footer-top .footer-nav{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    min-width: 50%;
    padding-top: 30px;
    padding-bottom: 0px;
}


.footer-container .footer-bottom{
    text-align: center;
    padding-top: 0px;
}


.footer-container .footer-top nav.mynav .navButton #JoinUs{
    justify-content: center;
    width: 100%;
    align-items: center;
}
